.box {
    background-color: rgba(97, 97, 97, 0.402);
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

body {
    background-color: rgb(33, 33, 33);
    margin: 0;
}

.title{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    text-align: left;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
}

.text{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(165, 165, 165);
    text-align: left;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 0;
}

.line{
    width: 40px;
    height: 5px;
    background-image: linear-gradient(to right, rgba(255, 0, 137.69999027252197, 1),hsl(175, 67%, 49%));
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left: 30px;
    margin-top: 7px;
}

.pfp {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #2f2f2f, #1b1b1b);
}

.name{
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

ion-icon{
    color: white;
}

.sidebar {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 1px solid #2f2f2f;
    padding: 5px;
}

.aboutme {
    margin-left: 20px;
	font-size: 20px;
	width: 400px;
	text-align: left;
}
.box-main {
	display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.project {
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding: 20px 20px;
    width: 80px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.projects{
    display: inline-grid;
    color: #fff;
    align-items: left;
    align-content: left;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

